openapi: 3.0.3
info:
  title: Boardly API
  description: |
    Boardly는 칸반 보드 기반의 프로젝트 관리 서비스 API입니다.
    
    ## 주요 기능
    - 워크스페이스 및 보드 관리
    - 카드 및 컬럼 관리
    - 실시간 협업
    - 권한 기반 접근 제어
    - 외부 초대 시스템
    
    ## 인증
    OAuth2 Authorization Code flow with PKCE를 사용합니다.
    
    ## 권한
    - OWNER: 워크스페이스 소유자, 모든 권한 보유
    - ADMIN: 워크스페이스 관리자, 모든 권한 보유
    - MEMBER: 일반 멤버, 제한된 권한
    - VIEWER: 조회 전용 권한
    
  version: 1.0.0
  contact:
    name: Boardly API Support
    email: api-support@boardly.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.boardly.com/v1
    description: Production server
  - url: https://staging-api.boardly.com/v1
    description: Staging server
  - url: http://localhost:3000/v1
    description: Development server

security:
  - BearerAuth: []

paths:
  # 인증 관련
  /auth:
    $ref: './paths/auth.yaml'
  
  # 사용자 관련
  /users:
    $ref: './paths/users.yaml'
  
  # 워크스페이스 관련
  /workspaces:
    $ref: './paths/workspaces.yaml'
  
  # 보드 관련
  /boards:
    $ref: './paths/boards.yaml'
  
  # 카드 관련
  /cards:
    $ref: './paths/cards.yaml'
  
  # 리스트 관련
  /lists:
    $ref: './paths/lists.yaml'
  
  # 댓글 관련
  /comments:
    $ref: './paths/comments.yaml'
  
  # 라벨 관련
  /labels:
    $ref: './paths/labels.yaml'
  
  # 초대 관련
  /invitations:
    $ref: './paths/invitations.yaml'
  
  # 첨부파일 관련
  /attachments:
    $ref: './paths/attachments.yaml'
  
  # 활동 로그 관련
  /activity-logs:
    $ref: './paths/activity-logs.yaml'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT 토큰을 사용한 인증
  
  schemas:
    $ref: './schemas/index.yaml'
  
  parameters:
    $ref: './parameters/index.yaml'
  
  responses:
    $ref: './responses/index.yaml'

tags:
  - name: Authentication
    description: 인증 관련 API
  - name: Users
    description: 사용자 관리 API
  - name: Workspaces
    description: 워크스페이스 관리 API
  - name: Boards
    description: 보드 관리 API
  - name: Lists
    description: 리스트 관리 API
  - name: Cards
    description: 카드 관리 API
  - name: Comments
    description: 댓글 관리 API
  - name: Labels
    description: 라벨 관리 API
  - name: Invitations
    description: 초대 관리 API
  - name: Attachments
    description: 첨부파일 관리 API
  - name: Activity Logs
    description: 활동 로그 관리 API
  - name: Workspaces
    description: 워크스페이스 관리 API
  - name: Boards
    description: 보드 관리 API
  - name: Cards
    description: 카드 관리 API
  - name: Lists
    description: 리스트 관리 API
  - name: Comments
    description: 댓글 관리 API
  - name: Labels
    description: 라벨 관리 API
  - name: Invitations
    description: 초대 관리 API
